@tailwind base;
@tailwind components;
@tailwind utilities;





body {
  background-color: #1A1A1A;
  overscroll-behavior: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* styles/globals.css */
.fade-effect::before,
.fade-effect::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10%; /* Adjust the width of the fade effect */
  z-index: 10;
}

.fade-effect::before {
  left: 0;
  background: linear-gradient(to right, #1A1A1A, transparent);
}

.fade-effect::after {
  right: 0;
  background: linear-gradient(to left, #1A1A1A, transparent);
}
